.logo {
    height: 30px;
    width: 30px;
}

.navbar-main {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.nav-list-item {
    margin-left: .5rem;
    margin-right: .5rem;
}

.dropdown a {
    margin-top: -.5rem;
    color: #0d6efd;
    
}

.dropdown:hover a {
    color: #0a58ca;
}